# Created by .ignore support plugin (hsz.mobi)
/.idea/
/server/.vs/
/server/packages/
/server/TheSecretCode.CRM/bin/
/server/TheSecretCode.CRM/obj/
/server/TheSecretCode.CRM/obj/Debug/
/server/TheSecretCode.CRM.Tests/bin/
/server/TheSecretCode.CRM.Tests/obj/
